{% include "parts/html-head.html" %}

<body class="h-full">

<div x-data="{
            offCanvasOpen: false,
            menuShow: false,
            isActive(path) {
                return window.location.pathname === path;
            },
        }">

    {% include "admin/parts/side-menu.html" %}

    <div class="lg:pl-72">
        {% include "admin/parts/top-menu.html" %}

        <main class="py-10">
            <div class="px-4 sm:px-6 lg:px-8">
                {% block content %}{% endblock content %}
            </div>
        </main>
    </div>
</div>

</body>
</html>
