{% import "parts/components.html" as components %}

{% include "parts/html-head.html" %}

<body class="h-full bg-white dark:bg-gray-900" data-controller="notification mobile-menu dark-mode dropdown websocket">

{% include "admin/parts/side-menu.html" %}

<div class="lg:pl-72">
    {% include "parts/notification.html" %}
    {% include "admin/parts/top-menu.html" %}

    <main class="py-10 bg-white dark:bg-gray-900 min-h-screen">
        <div class="px-4 sm:px-6 lg:px-8 text-gray-900 dark:text-white">
            {% block content %}{% endblock content %}
        </div>
    </main>
</div>

</body>
</html>
