<div
    aria-live="assertive"
    class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6"
    x-data="notification"
>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('notification', () => ({
                init: function() {
                    let that = this;

                    window.addEventListener('notify', function(event) {
                        that.dispatchMessage(event.detail.message, event.detail.type);
                    });

                    {% if session_message | length > 0 %}
                        that.dispatchMessage('{{ session_message }}', 'info ');
                    {% endif %}
                },

                dispatchMessage: function(message, type) {
                    let typeColor = '#2563eb';
                    if (type === 'success') {
                        typeColor = '#16a34a';
                    } else if (type === 'error') {
                        typeColor = '#e11d48';
                    } else if (type === 'warning') {
                        typeColor = '#eab308';
                    }

                    window.Toastify({
                        text: message,
                        close: true,
                        style: {
                            background: typeColor,
                            borderRadius: '6px',
                        }
                    }).showToast();
                }
            }))
        })
    </script>
</div>