<!-- Meta Description -->
<meta name="description" content="Welcome to my idea with Nineties">

<!-- Open Graph Meta Tags -->
<meta property="og:url" content="https://my-amazing-idea.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="My new idea with Nineties">
<meta property="og:description" content="Welcome to my idea with Nineties">
<meta property="og:image" content="https://nineties.firebrik.com/nineties.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="my-amazing-idea.com">
<meta property="twitter:url" content="https://my-amazing-idea.com/">
<meta name="twitter:title" content="My new idea with Nineties">
<meta name="twitter:description" content="Welcome to my idea with Nineties">
<meta name="twitter:image" content="https://my-amazing-idea.com/nineties.png">
